.App {
  text-align: center;
  padding-top:4% ;
}
body{
  background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm218-bb-7_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=f11db742a407baed5f7cf995054a698d');
background-position: center;
background-size: cover;
height: 100vh;
background-repeat: no-repeat;
padding: 0;
margin: 0;
}
.head{
  color: white;
  font-size:50px;

}
.input{
  padding: 3px 5px;
  font-size: x-large;
  border: none;
  outline:none ;
  border-radius: 20px;
}
.button{
  padding: 5px 20px;
  font-size: x-large;
  border-radius: 20px;
margin-left: 10px;
    border: none;
  background-color: red;
  color: white;

}
.list{
  list-style-type: none;
 color: white;
}
.text{
  font-size: x-large;
}
.remove{
  padding: 5px 10px;
  background-color: green;
  color: white;
  margin-left: 10px;
  border-radius: none;

}